# Telegram bot uchun
aiogram==3.17.0       # Bot framework (Yangilangan versiya)

# Konfiguratsiya / .env
python-dotenv==1.0.1  # .env o'zgaruvchilarni yuklash

# Jadval rasmlari
matplotlib==3.8.4     # Grafik/jadval chizish

# Pydantic avtomatik o'rnatiladi (aiogram dependency)

gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
